Config { font = "xft:Ubuntu Mon:weight=medium:pixelsize=14:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "#2b2b2b"--"#282c34"
       , fgColor = "grey"
       , alpha = 255
       , position = TopSize L 100 24
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [  -- Cpu usage in percent
                     Run Cpu ["-t", "CPU: (<total>%)","-H","50","--high","red"] 20
                        -- Ram used number and percent
                    , Run Memory ["-t", "MEM: <used>M (<usedratio>%)"] 20
                        -- Disk space free
                    , Run DiskU [("/", "HDD: <free> free")] [] 60
                        -- Uptime
                    , Run Uptime ["-t", "Uptime: <hours>h <minutes>m"] 360
                        -- Battery
                    , Run BatteryP ["BAT0"] ["-t", "Bat: <left>% (<acstatus>)"] 360
                        -- Time and date
                    , Run Date "%d %b %Y - %H:%M " "date" 50
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Swap [] 10
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Wireless "wlan0" [ "-t", "<essid>" ] 10
                    , Run DynNetwork     [ "--template" , "kB/s: <rx> | <tx>  "
                    		--"<dev>: <rx>kB/s|<tx>kB/s"
                    		--rx download, tx upload
                             , "--Low"      , "1000000"       -- units: B/s
                             , "--High"     , "5000000"       -- units: B/s
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 10
		    , Run CoreTemp       [ "--template" , "Temp: <core0>°C|<core1>°C"
                             , "--Low"      , "70"        -- units: °C
                             , "--High"     , "80"        -- units: °C
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 50
                    ]

       , sepChar = "%"
       , alignSep = "}{"
       , template = "   <box type=Bottom width=2 mb=2 color=#c4ed47><fc=#c4ed47><action=`alacritty -e htop`>%cpu%</action></fc></box>   <box type=Bottom width=2 mb=2 color=#ff6c6b><fc=#ff6c6b><action=`alacritty -e htop`>%memory%</action></fc></box>   <box type=Bottom width=2 mb=2 color=#da8548><fc=#da8548> %swap%</fc></box>   <box type=Bottom width=2 mb=2 color=#bd64e3><fc=#bd64e3>%disku%</fc></box>   }<box type=Bottom width=2 mb=2 color=#46d9ff><fc=#46d9ff><action=`emacsclient -c -a 'emacs' --eval '(doom/window-maximize-buffer(dt/year-calendar))'`>%date%</action></fc></box>{<box type=Bottom width=2 mb=2 color=#c2cc3b><fc=#c2cc3b>%dynnetwork%</fc></box>   <box type=Bottom width=2 mb=2 color=#e64394><fc=#e64394>%battery%</fc></box>   <box type=Bottom width=2 mb=2 color=#6ecc3b><fc=#6ecc3b> %uptime%</fc></box>   "
       }
