Config { font = "xft:Ubuntu Mon:weight=medium:pixelsize=13:antialias=true:hinting=true"
       , additionalFonts = [	"xft:Font Awesome 6 Free:weight=medium:pixelsize=13:antialias=true:hinting=true"
       				,"xft:Font Awesome 6 Brands:weight=medium:pixelsize=18:antialias=true:hinting=true"
       				]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#2b2b2b"--"#282c34"
       , fgColor = "grey"
       , alpha = 255
       , position = TopSize L 100 24
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/adrian/.xmonad/xmobar/icons"
       , allDesktops = True
       , overrideRedirect = True
       , commands = [  -- Cpu usage in percent
                     Run Cpu ["-t", "<fn=1>\xf108</fn> (<total>%)","-H","50","--high","red"] 20
                        -- Ram used number and percent
                    , Run Memory ["-t", "<fn=1>\xf233</fn> <used>M (<usedratio>%)"] 20
                        -- Disk space free
                    , Run DiskU [("/", "<fn=1>\xf0c7</fn> <free> free")] [] 60
                        -- Uptime
                    , Run Uptime ["-t", "<fn=1>\xf2f2</fn> <hours>h <minutes>m"] 360
                        -- Battery
                    , Run BatteryP ["BAT0"] ["-t", "<fn=1>\xf242</fn> <left>% (<acstatus>)"] 360
                        -- Time and date
                    , Run Date "<fn=1>\xf073</fn> %d %b %Y - %H:%M " "date" 50
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Com "echo" ["<fn=2>\xf17c</fn>"] "penguin" 3600
                    --, Run Com "grep" ["^PRETTY_NAME","/etc/os-release"] "" 36000
                    -- cat /etc/os-release | awk 'FNR==1{print $0}' | cut -f2 -d'"'
                    --, Run Com "cat" ["/etc/os-release", "|", "awk", "'FNR==1{print $0}'", "|", "cut", "-f2", "-d", "\""] "" 36000
           
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Wireless "wlan0" [ "-t", "<essid>" ] 10
                    , Run DynNetwork     [ "--template" , "kB/s: <fn=1>\xf0aa</fn> <rx>  <fn=1>\xf0ab</fn> <tx>  "
                    		--"<dev>: <rx>kB/s|<tx>kB/s"
                    		--rx download, tx upload
                             , "--Low"      , "1000000"       -- units: B/s
                             , "--High"     , "5000000"       -- units: B/s
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 10
		    , Run CoreTemp       [ "--template" , "Temp: <core0>°C|<core1>°C"
                             , "--Low"      , "70"        -- units: °C
                             , "--High"     , "80"        -- units: °C
                             , "--low"      , "darkgreen"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 50
                     , Run UnsafeStdinReader
                    ]

       , sepChar = "%"
       , alignSep = "}{"
       , template = "  <icon=haskell_24_white.xpm/>  |  %UnsafeStdinReader%   }<box type=Bottom width=2 mb=2 color=#46d9ff><fc=#46d9ff><action=`emacsclient -c -a 'emacs' --eval '(doom/window-maximize-buffer(dt/year-calendar))'`>%date%</action></fc></box>{<box type=Bottom width=2 mb=2 color=#da8548><fc=#da8548> %penguin% %uname% </fc></box>   <box type=Bottom width=2 mb=2 color=#6ecc3b><fc=#6ecc3b> %uptime%</fc></box>   <box type=Bottom width=2 mb=2 color=#c4ed47><fc=#c4ed47><action=`alacritty -e htop`>%cpu%</action></fc></box>   <box type=Bottom width=2 mb=2 color=#ff6c6b><fc=#ff6c6b><action=`alacritty -e htop`>%memory%</action></fc></box>   <box type=Bottom width=2 mb=2 color=#bd64e3><fc=#bd64e3>%disku%</fc></box>   <box type=Bottom width=2 mb=2 color=#c2cc3b><fc=#c2cc3b>%dynnetwork%</fc></box>   <box type=Bottom width=2 mb=2 color=#e64394><fc=#e64394>%battery%</fc></box>   "
       }
