onfig { font = "xft:Ubuntu:weight=bold:pixelsize=14:antialias=true:hinting=true"
       , additionalFonts = ["xft:Mononoki:pixelsize=11:antialias=true:hinting=true"
                           , "xft:Font Awesome 6 Free Solid:pixelsize=12"
                           , "xft:Font Awesome 6 Brands:pixelsize=12"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#282c34"
       , fgColor = "grey"
       , alpha = 255
       , position = TopSize L 100 24
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [  -- Cpu usage in percent
                     Run Cpu ["-t", "CPU: (<total>%)","-H","50","--high","red"] 20
                        -- Ram used number and percent
                    , Run Memory ["-t", "MEM: <used>M (<usedratio>%)"] 20
                        -- Disk space free
                    , Run DiskU [("/", "HDD: <free> free")] [] 60
                        -- Uptime
                    , Run Uptime ["-t", "Uptime: <hours>h <minutes>m"] 360
                        -- Battery
                    , Run BatteryP ["BAT0"] ["-t", "<acstatus>: <left>%"] 360
                        -- Time and date
                    , Run Date "%d %b %Y - %H:%M " "date" 50
                    ]

       , sepChar = "%"
       , alignSep = "}{"
       , template = " <box type=Bottom width=2 mb=2 color=#ecbe7b><fc=#ecbe7b><action=`alacritty -e htop`>%cpu%</action></fc></box> <box type=Bottom width=2 mb=2 color=#ff6c6b><fc=#ff6c6b><action=`alacritty -e htop`>%memory%</action></fc></box> <box type=Bottom width=2 mb=2 color=#a9a1e1><fc=#a9a1e1>%disku%</fc></box>  }{ <box type=Bottom width=2 mb=2 color=#98be65><fc=#98be65> %uptime%</fc></box> <box type=Bottom width=2 mb=2 color=#da8548><fc=#da8548>  %battery%</fc></box> <box type=Bottom width=2 mb=2 color=#46d9ff><fc=#46d9ff><action=`emacsclient -c -a 'emacs' --eval '(doom/window-maximize-buffer(dt/year-calendar))'`>%date%</action></fc></box>"
       }
